{% extends 'base.html' %}

{% load static %}

{% block title %}Edit post{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE({element: document.getElementById('id_message')});
  </script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boards' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_threads' post.thread.board.pk %}">{{ post.thread.board.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'view_thread' post.thread.board.pk post.thread.pk %}">{{ post.thread.subject }}</a></li>
  <li class="breadcrumb-item active">Edit post</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'view_thread' post.thread.board.pk post.thread.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}