{% load static %}
{% load humanize %}
{% load comment_tags %}

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/comment_card.css' %}">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/utility.js' %}"></script>
        <script>
            async function upvote(event) {
                event.preventDefault();
                event.stopImmediatePropagation();

                const commentId = parseInt(event.target.getAttribute('id').replace(/(upvote|downvote)/, ``));

                const upvoteElement = document.getElementById(`upvote${commentId}`);
                const src = upvoteElement.getAttribute('src');
                const original_src = upvoteElement.getAttribute('orgsrc');
                const alternative_src = upvoteElement.getAttribute('altsrc');

                const downvoteElement = document.getElementById(`downvote${commentId}`);
                const downvote_original_src = downvoteElement.getAttribute('orgsrc');

                let loggedinuser = event.target.getAttribute('loggedinuser');
                loggedinuser = loggedinuser.replaceAll(`'`, `"`);
                loggedinuser = loggedinuser.replaceAll(`None`, `null`);
                loggedinuser = JSON.parse(loggedinuser);

                let url;
                if (src !== alternative_src) {
                    url = `${location.protocol}//${window.location.hostname}:8080/api/user/${loggedinuser.id}/comment/${event.target.id.substring(6)}/upvote/`;
                } else {
                    url = `${location.protocol}//${window.location.hostname}:8080/api/user/${loggedinuser.id}/comment/${event.target.id.substring(6)}/undo/upvote/`;
                }

                const response = await fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({}),
                    credentials: 'include',
                    mode: 'cors'
                });
                let data = await response.json();

                console.log(response);

                if (src !== alternative_src) {
                    upvoteElement.setAttribute('src', alternative_src)
                    downvoteElement.setAttribute('src', downvote_original_src)
                } else {
                    upvoteElement.setAttribute('src', original_src)
                }
            };

            function setupSrc(event) {
                event.preventDefault();
                event.stopImmediatePropagation();

                const commentId = parseInt(event.target.getAttribute('id').replace(/(upvote|downvote)/, ``));

                const upvoteElement = document.getElementById(`upvote${commentId}`);
                const upvote_original_src = upvoteElement.getAttribute('orgsrc');
                const upvote_alternative_src = upvoteElement.getAttribute('altsrc');

                const downvoteElement = document.getElementById(`downvote${commentId}`);
                const downvote_original_src = downvoteElement.getAttribute('orgsrc');
                const downvote_alternative_src = downvoteElement.getAttribute('altsrc');

                let loggedinuser = event.target.getAttribute('loggedinuser');
                loggedinuser = loggedinuser.replaceAll(`'`, `"`);
                loggedinuser = loggedinuser.replaceAll(`None`, `null`);
                loggedinuser = JSON.parse(loggedinuser);

                if (upvoteElement.getAttribute('src') !== upvote_alternative_src &&
                    loggedinuser.profile.comments_upvoted != null && 
                    loggedinuser.profile.comments_upvoted.includes(commentId)) {
                    upvoteElement.setAttribute('src', upvote_alternative_src);
                } else if (downvoteElement.getAttribute('src') !== downvote_alternative_src &&
                           loggedinuser.profile.comments_downvoted != null && 
                           loggedinuser.profile.comments_downvoted.includes(commentId)) {
                    downvoteElement.setAttribute('src', downvote_alternative_src);
                }

                // get rid of the onload event so it doesn't proc every time the src is changed during upvotes/downvotes
                upvoteElement.setAttribute('onload', () => {});
            };

            async function downvote(event) {
                event.preventDefault();
                event.stopImmediatePropagation();

                const commentId = parseInt(event.target.getAttribute('id').replace(/(upvote|downvote)/, ``));

                const downvoteElement = document.getElementById(`downvote${commentId}`);
                const src = downvoteElement.getAttribute('src');
                const original_src = downvoteElement.getAttribute('orgsrc');
                const alternative_src = downvoteElement.getAttribute('altsrc');

                const upvoteElement = document.getElementById(`upvote${commentId}`);
                const upvote_original_src = upvoteElement.getAttribute('orgsrc');

                let loggedinuser = event.target.getAttribute('loggedinuser');
                loggedinuser = loggedinuser.replaceAll(`'`, `"`);
                loggedinuser = loggedinuser.replaceAll(`None`, `null`);
                loggedinuser = JSON.parse(loggedinuser);

                let url
                if (src !== alternative_src) {
                    url = `${location.protocol}//${window.location.hostname}:8080/api/user/${loggedinuser.id}/comment/${event.target.id.substring(8)}/downvote/`;
                } else {
                    url = `${location.protocol}//${window.location.hostname}:8080/api/user/${loggedinuser.id}/comment/${event.target.id.substring(8)}/undo/downvote/`;
                }

                const response = await fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({}),
                    credentials: 'include',
                    mode: 'cors'
                });
                let data = await response.json();

                console.log(response);

                if (src !== alternative_src) {
                    downvoteElement.setAttribute('src', alternative_src)
                    upvoteElement.setAttribute('src', upvote_original_src)
                } else {
                    downvoteElement.setAttribute('src', original_src)
                }
            };

            function showReply(event, commentPk) {
                document.getElementById(`iframe-reply-${commentPk}`).setAttribute('src', document.getElementById(`iframe-reply-${commentPk}`).getAttribute('dsrc'));
                document.getElementById(`hidden-reply-${commentPk}`).style.display = 'block';
            }

            function showEdit(event, commentPk) {
                document.getElementById(`iframe-edit-${commentPk}`).setAttribute('src', document.getElementById(`iframe-edit-${commentPk}`).getAttribute('dsrc'));
                document.getElementById(`hidden-edit-${commentPk}`).style.display = 'block';
            }

            function hideReply(event) {
                let commentPk = event.target.parentElement.action.match(/comments\/([\d]*)\/reply\//)[1];
                console.log(commentPk);
                document.getElementById(`hidden-reply-${commentPk}`).style.display = 'none';
            }

            function hideReplyAndRefresh(event) {
                setTimeout(() => {
                    hideReply(event);
                    location.reload();
                }, 500);
            }

            function hideEdit(event) {
                let commentPk = event.target.parentElement.action.match(/comments\/([\d]*)\/edit\//)[1];
                console.log(commentPk);
                document.getElementById(`hidden-edit-${commentPk}`).style.display = 'none';
            }

            function hideEditAndRefresh(event) {
                setTimeout(() => {
                    hideEdit(event);
                    location.reload();
                }, 500);
            }
        </script>
    </head>
    <body>
        <div id="{{ comment.pk }}" 
            class="card mb-2 {% if forloop.first and comment.parent == -1 %}border-dark{% endif %}"
            style="margin-left: {{comment.layer | multiply:3}}vw">
            {% if forloop.first and comment.parent == -1 %}
                <div class="card-header text-white bg-dark py-2 px-3">{{ thread.title }}</div>
            {% endif %}
            <div class="card-body p-3">
                <div class="row">
                    <div id="vote-box">
                        {% if comment.is_master == False %}
                            <img id="upvote{{comment.pk}}"
                                 style="width: 100%; margin-bottom: 20%;"
                                 onclick="upvote(event)"
                                 onload="setupSrc(event)"
                                 src="{% static 'img/up-arrow.png' %}"
                                 orgsrc="{% static 'img/up-arrow.png' %}"
                                 altsrc="{% static 'img/up-arrow-orange.png' %}"
                                 loggedinuser="{{comment.logged_in_user}}">
                            <img id="downvote{{comment.pk}}"
                                 style="width: 100%; margin-top: 20%;"
                                 onclick="downvote(event)"
                                 src="{% static 'img/down-arrow.png' %}"
                                 orgsrc="{% static 'img/down-arrow.png' %}"
                                 altsrc="{% static 'img/down-arrow-blue.png' %}"
                                 loggedinuser="{{comment.logged_in_user}}">
                        {% endif %}
                    </div>
                    <div id="main-body-box">
                        <div class="row mb-3">
                            <div class="pl-3">
                                <strong class="text-muted">{{ comment.created_by.username }}</strong>
                            </div>
                            <div class="w-50">
                                <small 
                                    style="margin-left: 10%" 
                                    class="text-muted">
                                    {{ comment.karma }} points 
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    {{ comment.created_at|naturaltime }}
                                </small>
                            </div>
                        </div>
                        {{ comment.text }}
                        <div class="row pl-3">
                            <a style="text-decoration: none; color: #6c757d;" 
                               href="{% url 'view_comment' thread.board.pk thread.pk comment.pk %}">permalink</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            {% if comment.parent != -1 %}
                                <a style="text-decoration: none; color: #6c757d;" 
                                   href="{% url 'view_comment' thread.board.pk thread.pk comment.parent %}">parent</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            {% elif comment.old_parent and comment.old_parent != -1 %}
                                <a style="text-decoration: none; color: #6c757d;" 
                                   href="{% url 'view_comment' thread.board.pk thread.pk comment.old_parent %}">parent</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if comment.created_by.username == user.username %}
                                <a style="text-decoration: none; color: #6c757d;"
                                   onclick="showEdit(event, {{comment.pk}})">Edit</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                            {% if comment.is_master == False %}
                                <a style="text-decoration: none; color: inherit;" 
                                   onclick="showReply(event, {{comment.pk}})">Reply</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hidden-reply-{{comment.pk}}" style="display: none; margin-left: {{comment.layer | multiply:3}}vw;">
            <iframe id="iframe-reply-{{comment.pk}}" dsrc="{% url 'reply_comment' comment.thread.board.pk comment.thread.pk comment.pk %}" 
                style="height: 50vh; width: 75%;"></iframe>
        </div>
        <div id="hidden-edit-{{comment.pk}}" style="display: none; margin-left: {{comment.layer | multiply:3}}vw;">
            <iframe id="iframe-edit-{{comment.pk}}" dsrc="{% url 'edit_comment' comment.thread.board.pk comment.thread.pk comment.pk %}" 
                style="height: 50vh; width: 75%;"></iframe>
        </div>
        {% if comment.children|length > 0 %}
            {% for child in comment.children %}
                {% include "includes/comment_card.html" with comment=child %}
            {% endfor %}
        {% endif %}
    </body>
</html>