{% extends 'base.html' %}

{% load humanize %}

{% block title %}
    {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'boards' %}">Boards</a></li>
    <li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <a href="{% url 'new_thread' board.pk %}" class="btn btn-primary">New thread</a>
    </div>
    
    <table class="table table-striped mb-4">
        <thead class="thead-dark">
            <tr>
            <th>Thread</th>
            <th>Creator</th>
            <th>Comments</th>
            <th>Views</th>
            <th>Last Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for thread in threads %}
                {% url 'view_thread' board.pk thread.pk as thread_url %}
                <tr>
                    <td>
                        <p class="mb-0">
                            <a href="{{ thread_url }}">{{ thread.title }}</a>
                        </p>
                        <small class="text-muted">
                            Pages:
                            {% for i in thread.get_page_range %}
                                <a href="{{ thread_url }}?page={{ i }}">{{ i }}</a>
                            {% endfor %}
                            {% if thread.has_many_pages %}
                                ... <a href="{{ thread_url }}?page={{ thread.get_page_count }}">Last Page</a>
                            {% endif %}
                        </small>
                    </td>
                    <td>{{ thread.creator.username }}</td>
                    <td>{{ thread.comment_count }}</td>
                    <td>{{ thread.views }}</td>
                    <td>{{ thread.last_comment_at|naturaltime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% comment %} {% if threads.has_other_pages %}
        <nav aria-label="Threads pagination" class="mb-4">
            <ul class="pagination">
                {% if threads.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ threads.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                {% endif %}

                {% for page_num in threads.paginator.page_range %}
                    {% if threads.number == page_num %}
                        <li class="page-item active">
                            <span class="page-link">
                                {{ page_num }}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if threads.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ threads.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %} {% endcomment %}

    {% include 'includes/pagination.html' %}
{% endblock %}