{% extends '../base_accounts.html' %}

{% block title %}Register{% endblock %}

{% block body %}
<form id="auth-div" method="post" novalidate>
  {% csrf_token %}
  <label id="title">Test Website</label>
  <br />
  <br />

  {% include 'includes/login_form.html' %}
  <button type="submit" style="width: 100%;" class="btn btn-primary btn-block">Create an account</button>
  <div class="card-footer text-muted text-center">
    Already have an account? <a href="{% url 'login' %}">Log in</a>
  </div>
</form>
{% endblock body %}