<!-- Template allows for custom title, stylesheet, body, breadcrub, content -->
{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Test Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    {% block body %}
        <ul id="nav-bar">
            <li><a href="{% url 'home' %}"><img src="{% static 'img/home_button.png' %}"></a></li>
            <li><a href="{% url 'name' %}">Name Page</a></li>
            <li><a href="{% url 'surf' %}">Surf</a></li>
            <li><a href="{% url 'boards' %}">Boards</a></li>
            <li class="dropdown-li">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </button>
                    <div id="dropdown-menu" class="dropdown-menu" area-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'my_account' %}">My account</a>
                        <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </div>
                </div>
            </li>
        </ul>
        {% block content %}
        {% endblock %}
    {% endblock body %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>