{% extends '../base_boards.html' %}

{% block title %}{{ thread.title }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'boards' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'board_threads' thread.board.pk %}">{{ thread.board.name }}</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'view_thread' thread.board.pk thread.pk %}">{{ thread.title }}</a></li>
{% endblock %}

{% block boardcontent %}

    <div class="mb-4">
        <a href="{% url 'new_parent_comment' thread.board.pk thread.pk %}" class="btn btn-primary" role="button">Submit Comment</a>
    </div>

  {% for comment in comments %}
        {% if comment.parent == -1 %}
            {% include 'includes/comment_card.html' %}
        {% endif %}
  {% endfor %}

  {% comment %} {% include 'includes/pagination.html' %} {% endcomment %}

{% endblock %}