{% extends '../base_boards.html' %}

{% load static %}

{% block title %}Post a reply{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE({element: document.getElementById('id_text')});
  </script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'boards' %}">Boards</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_threads' thread.board.pk %}">{{ thread.board.name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'view_thread' thread.board.pk thread.pk %}">{{ thread.title }}</a></li>
  <li class="breadcrumb-item active">Post a reply</li>
{% endblock %}

{% block boardcontent %}

  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Post a reply</button>
  </form>

{% endblock %}